In [1]:
import tweepy
import re
import json
import pandas as pd
import numpy as np
from pymongo import MongoClient

## Criando a base de dados.

In [2]:
# Consectando ao banco e criando as coleções.

cliente = MongoClient('localhost', 27017)
db = cliente.bd_tweets

## Conectando ao Twitter

In [3]:
with open('key.txt', 'r') as tfile:
    consumer_key = tfile.readline().strip('\n')
    consumer_secret = tfile.readline().strip('\n')

In [4]:
# variaveis para fazer o login

auth = tweepy.AppAuthHandler(consumer_key, consumer_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [5]:
def captura_tweets(pesquis):
    
    query_search = pesquis + '-filter:retweets'

    #Gerando o cursor de busca.
    cursor_tweets = tweepy.Cursor(api.search, q=query_search, tweet_mode='extended',lang="pt").items(1000)
   
    tw = []

    for tweet in cursor_tweets:
        tw.append(tweet)
  
    return tw

## Capturando os Tweets

In [6]:
inter = captura_tweets("@BancoInter")

In [7]:
nubank = captura_tweets("@nubank")

In [8]:
c6bank = captura_tweets("@c6Bank")

In [32]:
# selecionando informações para serem salvas no banco.

def inform(banco):
    tw = []
    for tweet in banco:
        tw.append([tweet.id,tweet.user.screen_name, tweet.created_at, tweet.full_text, tweet.source, tweet.user.followers_count, tweet.user.friends_count])
    return pd.DataFrame(tw, columns=['id','Nome','Data','Tweet', 'Aparelho', 'Seguidores', 'Amigos'])

In [33]:
df_inter = inform(inter)
df_nubank = inform(nubank)
df_c6bank = inform(c6bank)

## Salvando os tweets.

In [40]:
db.inter.insert_many(df_inter.to_dict('records'))

In [43]:
db.nubank.insert_many(df_nubank.to_dict('records'))
db.c6bank.insert_many(df_c6bank.to_dict('records'))

In [44]:
db.list_collection_names()

['nubank', 'c6bank', 'inter']

## Consultando o banco.

In [53]:
def consult_banco(banco):
    banco =[]
    for x in db.banco.find():
        banco.append(x)

In [55]:
x = pd.DataFrame(banco)
x

,_id,id,Nome,Data,Tweet,Aparelho,Seguidores,Amigos
0,5f62969dc3559a0787748717,1306354987145015296,eskarlath,2020-09-16 22:11:14,@nubank Libera limite ai pô,Twitter for Android,977,1012
1,5f62969dc3559a0787748718,1306354931935436800,CamilaAnne1,2020-09-16 22:11:01,@jamesonsilva @nubank É muita emoçaooo,Twitter for Android,113,205
2,5f62969dc3559a0787748719,1306354832643624967,ttkwillian,2020-09-16 22:10:37,"pô @nubank aumenta meu limite aí, 400 pila até...",Twitter for Android,186,127
3,5f62969dc3559a078774871a,1306354652057927681,alexsdjr,2020-09-16 22:09:54,@_quesedani @nubank NÃO GOSTO DE VOCÊ \nNÃO SI...,Twitter Web App,223,638
4,5f62969dc3559a078774871b,1306354394909356038,whe3sa,2020-09-16 22:08:53,@nubank @Guidakat maldição,Twitter for Android,232,854
...,...,...,...,...,...,...,...,...
995,5f62969dc3559a0787748afa,1306241487403986944,pereira_diegu,2020-09-16 14:40:14,"@viinnicarvalho @nubank Sai fora tio, senão el...",Twitter for Android,290,308
996,5f62969dc3559a0787748afb,1306241483633299456,lcsvaz,2020-09-16 14:40:13,@araujocrf_ @CidaCoutinho11 @_quesedani @nuban...,Twitter for Android,147,160
997,5f62969dc3559a0787748afc,1306241468164644864,soda_csg,2020-09-16 14:40:09,eu nunca tinha pedido p aumentar o limite do m...,Twitter for Android,594,331
998,5f62969dc3559a0787748afd,1306241428952158210,jwitalo_ac,2020-09-16 14:40:00,"@nubank Dona Nu, me deu um aumento de limite ...",Twitter for iPhone,145,410
999,5f62969dc3559a0787748afe,1306241412401422336,CarlosRegis15,2020-09-16 14:39:56,@nubank Pra ficar assim com ela paga!,Twitter for Android,66,922